@using PagedList
@using PagedList.Mvc
@model IPagedList<Jant.Entities.Urun>
@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Scripts {
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/Medicalscript.js")" type="text/javascript"></script>*@

<script type="text/javascript">
    var sayac = 0;
    $("#checkAll").click(function () {
        sayac = sayac + 1;
        $('input[type=checkbox]').each(function () {
            if (sayac%2==1) {
                this.checked = true;
            } else {
                this.checked = false;
            }
                

        });
    });
    </script>
    }
    @using (Html.BeginForm("DeleteProduct", "Admin", FormMethod.Post))
    {

        <div class="col-lg-8">
            <div id="basket">
                <div class="basket-title">
                    <i class="icon-list"></i>Ürünleriniz
                    <div class="productcount hide-xs hide-s pull-right">Şuan sisteminizde <span>@Model.TotalItemCount</span> adet ürün bulunmaktadır.</div>
                </div>
                <div class="hideoniphone">
                    <div class="row">
                        <div class="col-12">
                            <div class="b-product-header">
                                <div class="col-sm-6 ">&nbsp;&nbsp; Ürünler</div>
                                <div class="col-sm-2 ">Birim Fiyat</div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2">
                                    <div class="row ">
                                       <span id="checkAll" style="cursor:pointer"><i class="icon-right-open"></i>Tümünü Seç</span>                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="b-product">
                                    <div class="col-sm-2 image">
                                        <a href="/Urun/GetProductDetails/?UrunId=@item.UrunId">
                                            <img src="~/Content/Wheels/@item.Resimler.Select(x=>x.ResimUrl).FirstOrDefault()">
                                        </a>
                                    </div>
                                    <div class="col-sm-4 name"><a href="/Urun/GetProductDetails/?UrunId=@item.UrunId">@item.Marka.MarkaAdi - @item.UrunKodu</a></div>
                                    <div class="col-sm-2 price">@item.Fiyat</div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-2 select">
                                        <div class="checkbox">
                                            <input type="checkbox" name="UrunId" value="@item.UrunId"><label></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-lg-12">
                            <a href="order-summary.html">
                                <div class="submit green-btn pull-right">
                                    <input type="submit" name="name" value="Seçilenleri Sil" /> <div class="arrow-down"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    }
<div class="pull-right">
    <div class="pagedList">
        @Html.PagedListPager(Model, page => Url.Action("DeleteProduct", "Admin", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>

</div>


