@using PagedList
@using PagedList.Mvc
@model IPagedList<Jant.Entities.Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="col-lg-8">
        <div id="basket">
            <div class="basket-title">
                <i class="icon-list"></i>Ürünleriniz
                <div class="productcount hide-xs hide-s pull-right">Şuan sisteminizde <span>@Model.TotalItemCount</span> adet ürün bulunmaktadır.</div>
            </div>
            <div class="hideoniphone">
                <div class="row">
                    <div class="col-12">
                        <div class="b-product-header">
                            <div class="col-sm-6 ">&nbsp;&nbsp; Ürünler</div>
                            <div class="col-sm-2 ">Birim Fiyat</div>
                            <div class="col-sm-2"></div>
                            
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-12">
                            <div class="b-product">
                                <div class="col-sm-2 image">
                                    <a href="/Urun/GetProductDetails/?UrunId=@item.UrunId">
                                        <img src="~/Content/Wheels/@item.Resimler.Select(x=>x.ResimUrl).FirstOrDefault()">
                                    </a>
                                </div>
                                <div class="col-sm-4 name"><a href="/Urun/GetProductDetails/?UrunId=@item.UrunId">@item.Marka.MarkaAdi - @item.UrunKodu</a></div>
                                <div class="col-sm-2 price">@item.Fiyat</div>
                                <div class="col-sm-2"></div>
                                <div class="col-sm-2 blue-btn">
                                    <a href="/Admin/UpdateProduct/?productId=@item.UrunId">Güncelle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
<div class="pull-right">
    <div class="pagedList">
        @Html.PagedListPager(Model, page => Url.Action("Index", "Admin", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>

</div>


